<div class="container">
  <div class="categories">
    <a
      [routerLink]="['/', 'slot', item.category]"
      routerLinkActive="active"
      class="item"
      *ngFor="let item of categories"
    >
      <app-svg-icon *ngIf="item.icon" [url]="item.icon"></app-svg-icon>
      <span class="title">{{ item.name }}</span>
      <span class="total-games">{{ item.totalGames }}</span>
    </a>
  </div>
  <div class="sub-categories">
    <div class="list">
      <a
        class="item"
        [routerLink]="['/', 'slot', category]"
        routerLinkActive="active"
      >
        <span class="title">ALL</span>
      </a>
      <a
        class="item"
        *ngFor="let item of providers | slice : 0 : limit"
        [routerLink]="['/', 'slot', category, item.provider]"
        routerLinkActive="active"
      >
        <span class="title">{{ item.name }}</span>
      </a>
    </div>
    <span class="more" (click)="togleLimit()">See More</span>
  </div>
</div>
